<head>
  <title>Ver Usuarios</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href='/styles/materialize/css/materialize.min.css'  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel='stylesheet' type='text/css' href='/styles/user.css'/>
</head>
<body>
  <nav>
    <div class="nav-wrapper #0d47a1 blue darken-4">
      <a href="/Home" class="brand-logo">Tarea 8: Curso SAILS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href='/create'>Crear Usuario</a></li>
        <li><a href='/readUsers'>Leer todos los Usuarios</a></li>
        <li><a href='/update'>Actualizar información de Usuario</a></li>
      </ul>
    </div>
  </nav>
  <div class = 'content'>
    <h3>Todos los Usuarios:</h3>
    <br/><br/>
      <div class = 'ctext'>
      <% for(user of users){ %>
        <table>
          <tr>
            <td class='important'><strong>ID</strong></td>
            <td><strong><%= user.id %></strong></td>
          </tr>
          <tr>
            <td class='important'><strong>Nombre</strong></td>
            <td><strong><%= user.nombre %></strong></td>
          </tr>
          <tr>
            <td class='important'><strong>Edad</strong></td>
            <td><strong><%= user.edad %></strong></td>
          </tr>
        </table>
        <br/><br/>
      <% } %>
    </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src='/styles/materialize/js/materialize.min.js'></script>
</body>
